@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Thin'), url(../src/Assets/Fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}


body {
  margin: 0;
  font-family: -apple-system, Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Poppins,
}
